@using Microsoft.AspNetCore.Identity
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <div class="row mb-5">
        <div class="col-9">
            <h1 class="heading mt-1">@ViewBag.companyName.BusinessName</h1>
            <h2 class="mt-5">Categories</h2>            
        </div>
        <div class="col-3 text-end">
            <button class="btn btn-primary mt-3" onclick="CategoryModal();">Create</button>
        </div>
    </div>
    <div class="">
        <table class="table table-hover align-middle" id="categoryTable" style="width:100%">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th class="text-center">Functions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<partial name="_AddUpdateCategory" />
<partial name="_DeleteCategory" />


@section Scripts {
    <script src="~/js/category.js"></script>
}