@using Microsoft.AspNetCore.Identity
@model StockMeister.Models.Company
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            <h1 class="heading">@Model.BusinessName</h1>
        </div>
    </div>
</div>