<div class="modal fade" role="dialog" id="categoryInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div>
                <form id="categoryForm" autocomplete="off" novalidate="novalidate">
                    <input type="hidden" id="id" value="" />
                    <div class="modal-header">
                        <h4 class="modal-title">Create a Category</h4>
                        <button type="button" class="btn-close" onclick="onCloseCategoryModal();"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating">
                            <input class="form-control" id="categoryName" placeholder="Category Name"/>
                            <label for="categoryName">Category Name</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" id="btnSubmit" type="button" onclick="onSubmitCategoryModal();">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>